.signup {
    width: 993px;
    height: 1134px;
    margin: auto;
    background-color: black;
    border-radius: 105px;
}

body {
    background-image: url(background.png);
}

.contactcontainer{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
  }